{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>Following</h1>
    {% if user.is_authenticated %}
        <form method = "post" id="create-post" action="{% url 'create_post' %}">
            <h5>New Post</h5>
            <div id="new-post">
                {% csrf_token %}
                {{ form }}
            </div>
            <br>
            <button class="btn btn-primary" type="submit" id="send-post">Post</button>
        </form>
    {% endif %}
    <div id = view-posts>
        {% for post in page_obj %}
        <div id = post-details>
            <a href="{% url 'view_profile' post.user.id %}"><div class="username">{{ post.user.username}}</div></a>
            <div class="text">{{ post.text|linebreaks}}</div>
            <div class="timestamp">{{ post.timestamp}}</div>
            <div class="likes">&#10084; 
                <div id="like_count{{post.id}}" class="d-inline">
                    {{ post.likes.count }}
                </div>
                {% if request.user != post.user %}
                    {% if post.id in post_liked %}
                        <p class="d-inline px-4" id="like{{post.id}}" onclick="updateLikes({{post.id}},{{post_likes}})">
                            <img src="{% static '/images/thumbs-down.png' %}" class="thumbs">
                        </p>
                    {% else %}
                        <p class="d-inline px-4" id="like{{post.id}}" onclick="updateLikes({{post.id}},{{post_likes}})">
                            <img src="{% static '/images/thumbs-up.png' %}" class="thumbs">
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% include "network/pagination.html" %}
    </div>
{% endblock %}